<% if p.comments %>
  <% p.comments.each do |comment| %>
    <div id="comment">
      <div class="user-name">
        <%= comment.user.user_name %>
      </div>
      <div class="comment-content">
        <%= comment.content %>
        <% if comment.user === current_user %>
          <%= link_to post_comment_path(p, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
            <%= fa_icon("times", class: "delete-comment") %>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
