<div id="comment">
  <div class="user-name">
    <% if comment.user %>
      <%= comment.user.user_name %>
    <% end %>
  </div>
  <div class="comment-content">
    <%= comment.content %>
    <% if comment.user === current_user %>
      <%= link_to post_comment_path(p, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
        <%= fa_icon("times", class: "delete-comment") %>
      <% end %>
    <% end %>
  </div>
</div>
