/* miscellaneous */
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
.debug_dump {
  background-color: #d1d1d1;
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */
body {
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
}

.container-fluid {
  padding: 0;
  height: 100%;
}

/*  navbar */

#navbar-container {
  background-color: #fff;
}

.navbar-brand {
  color: #125688 !important;
}

.navbar-light {
  background-color: #fff;
  // height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

#notification_li
{
position:relative
}
#notificationContainer
{
background-color: #fff;
border: 1px solid rgba(100, 100, 100, .4);
-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
overflow-x: hidden;
overflow-y: scroll;
position: absolute;
top: 50px;
margin-left: -185px;
width: 400px;
height: 500px;
z-index: 1;
display: none; // Enable this after jquery implementation
}
// Popup Arrow
#notificationContainer:before {
// content: '';
display: block;
position: absolute;
width: 0;
height: 0;
color: transparent;
border: 10px solid black;
border-color: transparent transparent white;
margin-top: -20px;
margin-left: 188px;
}
#notificationTitle
{
position: sticky;
top: 0;
font-weight: bold;
padding: 8px;
font-size: 13px;
background-color: #ffffff;
// position: fixed;
z-index: 1000;
width: 384px;
border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
padding: 33px 0px 0px 0px !important;
min-height:427px;
}
#notificationFooter
{
position: sticky;
bottom: 0;
background-color: #e9eaed;
text-align: center;
font-weight: bold;
padding: 8px;
font-size: 12px;
border-top: 1px solid #dddddd;
}

#notification_count
{
// padding: 3px 7px 3px 7px;
// background: #cc0000;
// color: #ffffff;
// font-weight: bold;
// margin-left: 77px;
// border-radius: 9px;
// -moz-border-radius: 9px;
// -webkit-border-radius: 9px;
// position: absolute;
// margin-top: -11px;
// font-size: 11px;

padding: 2px 6px 2px 6px;
background: #cc0000;
color: #ffffff;
/* font-weight: bold; */
margin-left: 17px;
border-radius: 9px;
-moz-border-radius: 9px;
-webkit-border-radius: 9px;
position: absolute;
margin-top: -3px;
font-size: 11px;
}

.notification-index-list {
  margin-top: 5em;
  margin-bottom: 5em;
  list-style: none;
  li {
    margin-top: 1em;
    background-color: white;
    padding: 1em;
  }
}

/* posts feed */
.posts-wrapper {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 642px;
  width: 100%;
}

.post {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .post-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .thumb-img {
      margin-right: 5px;
    }
    .post_profile_image {
      height: 30px;
      width: 30px;
      border: 1px solid #f1f1f1;
    }
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
    .post-setting-button {
      color: #000;
      padding-top: 0;
      background-color: #fff;
      border: none;
      border-radius: 0;
      float: right;
    }
    .post-setting-link {
      padding: 20px;
      text-decoration: none;
      &:hover {
        background-color: #f4f4f4;
        color: #2D6396;
      }
    }
  }
  .image {
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
}

.post-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    // margin-right: 0.3em; //comment?
    color: #125688;
    font-size: 15px;
  }
  .user-name, .caption-content {
    display: inline;
  }
  .time-ago {
    padding-top: 10px;
    color: #A5A7AA;
    // float: right;
  }
  #comment {
    margin-top: 7px;
    .user-name {
      font-weight: 500;
      margin-right: 0.3em;
    }
    .delete-comment {
      float: right;
      color: #515151;
    }
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

.like {
  text-decoration: none;
  color: red;
}

.like-button a:hover, a:focus {
  text-decoration: none;
  color: red;
}

.comments {
  .paginator {
    margin: 0.5em;
    .more-comments {
      color: #A5A7AA;
    }
  }
}

.comment_content {
  font-size: 15px;
  line-height: 18px;
  border: medium none;
  outline: none;
  width: 100%;
  color: #4B4F54;
}

.comment-like-form {
  padding-top: 24px;
  margin-top: 13px;
  margin-left: 24px;
  margin-right: 24px;
  min-height: 68px;
  align-items: center;
  border-top: 1px solid #EEEFEF;
  flex-direction: row;
  justify-content: center;
}

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

#paginator {
  color: #4090DB;
  height: 120px;
  width: 120px;
  margin: 60px auto 100px;
  position: relative;
  display: table;
  border: 2px solid #4090DB;
  border-radius: 50%;
  :hover {
    border: 1px solid #2D6DA8;
    border-radius: 50%;
  }
}

#load_more {
  display: table-cell;
  font-size: 12px;
  padding: 0px 9px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #2D6DA8;
  }
}

.likes {
  margin-top: 20px;
  margin-bottom: 7px;
}

/* registration */

.registration-bg {
  min-height: 100%;
  padding-top: 4em;
  padding-bottom: 2em;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.log-in{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.card {
  border-radius: 1;
}

.card-header{
  h1 {
    text-align: center;
  }
  background-color: #fff;
  border: 0;
}

.card-sub-header {
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
  color: #999;
  font-weight: 600;
}

#already-acc {
  p {
    margin-bottom: 0;
  }
  margin-top: 15px;
  margin-bottom: 20px;
}

/* log in */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 20px 8px;
}

.strike > span {
  position: relative;
  display: inline-block;
  color: #999;
  font-size: 13px;
  font-weight: 600;
  line-height: 15px;
  margin: 0 8px;
  text-transform: uppercase;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #999;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}



/* profiles */

#user_avatar {
  padding: 1em;
  margin: 20px auto;
}

.profile-preview {
  height: 152px;
  width: 152px;
}

#edit-profile-bio {
  width: 100%;
}

.profile-header {
  padding: 20px 0;
}

.profile-image {
  margin: 20px auto;
  height: 152px;
  width: 152px;
}

.user-name-and-follow {
  display: inline;
}

.profile-user-name {
  display: inline;
}

.user-verified {
  color: #5692FF;
  // color: #4F7EEC;
  // color: #009FF5;
}

.edit-button {
  border-color: #818488;
  color: #818488;
  margin-left: 20px;
}

.profile-bio {
  margin-top: 20px;
}

.follow-button {
  text-transform: uppercase;
  border-color: #4090db;
  color: #4090db;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #2D6396;
    color: #2D6396;
  }
}

.unfollow-button {
  text-transform: uppercase;
  border-color: #66bd2b;
  background-color: #66bd2b;
  color: white;
  margin-left: 20px;
  &:visited, &:focus, &:hover {
    border-color: #47821F;
    background-color: #47821F;
    color: white;
  }
}

/* new posts form */

#upload-form-header {
  height: 200px;
  padding: 90px 0;
  color: #fff;
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#upload-button-wrapper {
  margin-top: 16px;
}

.upload-form-bottom-spacer {
  padding: 0 20px;
}

/* edit profile */
#edit-profile-header-wrapper {
  padding-top: 50px;
}

.edit-profile-upload {
  padding: 16px 0 !important;
}

/* footer */

footer {
  position: relative;
  bottom: 30px;
  left: 0;
  display: block;
  p {
    margin-bottom: 0;
    text-align: center;
    color: #000;
    .heart {
      color: red;
    }
  }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) {
  #user_avatar_wrapper {
    text-align: center;
  }
  #profile-details-wrapper {
    text-align: center;
  }
  .profile-bio {
    padding: 0 15px;
    text-align: center !important;
  }
  .modal {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
  }
}
